<li>
    <div class="right-content">
        <h4>{{comment.name}}<span>{{comment.publishedAt | date('d') }} {{ comment.publishedAt | date('F') }}</span></h4>
        <p>{{comment.text}}</p>
    </div>
</li>